.divcharacter {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  list-style: none; */
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap:120px;
    grid-row-gap: 120px;
  justify-content: center;
  border-top: 20%;
  width: 80%;
  margin: 10% auto;
  ;
  }

  @media (max-width: 768px) {
    .divcharacter {
       justify-content: center;
    }}
