.abaoutdiv {
    padding: 20px;
    font-size: 24px;
      color: #c4dcee;
      text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
      
      position: absolute;
      top: 7%;
      right: 40%;
      left: 20%;
      width: fit-content;
}