.divcharacter {
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(114, 95, 238, 0.808);
  padding: 20px;
  width: 140px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: auto;
  font-size: 12px;

}

 .divcharacter:hover {
   opacity: 1;
  animation: glow 1s infinite alternate;
 }

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                0 0 20px rgba(255, 255, 255, 0.8),
                0 0 30px rgba(255, 255, 255, 0.8);
  }}

.imgcharacter{
  width: 140px;
  height: 300px;
  border-radius: 8px;
  overflow: auto;
}

.innerdivcharacter{
  height: auto;
  margin: 0 auto;
}

.h2character{
  width: 80%;
  height: auto;
  margin: 0 auto;
  /* overflow: auto; */
  justify-content: center;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  color: #c4dcee;
  text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}
 
.buttoncharacter {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  background-color: #c4dcee; /* Color de fondo
  border: none; /* Sin borde */
  color: black; /* Color del texto */
  padding: 12px 24px; /* Espaciado del contenido */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Bloque en línea */
  font-size: 16px; /* Tamaño de la fuente */
  border-radius: 4px; /* Radio de borde */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition-duration: 0.3s; /* Duración de la transición */
  padding: 3%;
}
  .buttoncharacter:hover {
    background-color: #0059b3; /* Color de fondo */
    cursor: pointer; /* Cambiar cursor */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .buttoncharacter2 {
    position: absolute;
    top: 0;
    right: 80%;
    border-radius: 5px;
    background-color: #c4dcee; /* Color de fondo
    border: none; /* Sin borde */
    color: black; /* Color del texto */
    padding: 12px 24px; /* Espaciado del contenido */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Bloque en línea */
    font-size: 16px; /* Tamaño de la fuente */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition-duration: 0.3s; /* Duración de la transición */
    padding: 3%;
  }
    .buttoncharacter2:hover {
      background-color: #0059b3; /* Color de fondo */
      cursor: pointer; /* Cambiar cursor */
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }


