.divbar{
  
  border-radius: 4px;
  padding: 8px;
  outline: none;
  color: #333333;
  font-size: 14px;
  display: inline-flexbox;
  align-items: center;
  align-self:first baseline;
  position: absolute;
  top: 0;
  left: 10%;
  right: 0;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
}

.divbar:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
 

.buttonbar{
    background-color: #007bff;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-flexblock;
  border-radius: 4px;
 
}

.buttonbar:hover {
    background-color: #0069d9;
  }

.buttonbar:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }


  
  
  @media screen and (max-width: 768px) {
    .divbar {
      max-width: 400px;
      /* ajustes de estilos adicionales para pantallas más pequeñas */
    }
  }
  
  @media screen and (max-width: 480px) {
    .divbar {
      max-width: 300px;
      /* ajustes de estilos adicionales para pantallas más pequeñas */
    }
  }