.App {
   /* text-align: center; */
   background-image: URL("img/rick-y-morty-en-el-espacio_3840x2160_xtrafondos.com\ \(1\).jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
   height: 100vh;
   overflow: auto;
  
}
